.custom-wrapper {
    height: 85vh;
}

.custom-container {
    margin-bottom: 120px;
}

.custom-forgot-password-wrapper {
    height: 85vh;
}

.custom-home-wrapper {
    margin-bottom: 120px;
}

.custom-container {
    margin-bottom: 120px;
}